body{
    font-family: Arial, Helvetica, sans-serif;
}

.page{
    position: absolute;
    padding-bottom: 5%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cont{
    background-color: #e0e0e0;
    display: flex;
    display: inline-block;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
    border: 3px solid #000000;
    border-radius: 1rem;
    padding: 20px;
    align-items: center;
    width: 70%;
    max-width: 725px;
    box-shadow:  2px 2px 4px #b3b2b2;
}

.button{
    border-radius: 3px;
    border: 2px solid black;
    background-color: black;
    color: rgb(235, 235, 235);
}

.dropdown{
    border-radius: 5px;
    border: 0px;
}

.col{
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0px;
}

.row{
    display: flex;
    align-content: flex-start;
    padding: 0px;
    gap: 3px;
}

.row>*{
    padding-right: 5px !important;
    padding-left: 0px !important;
}

#pointsCont{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: black solid 3px;
    border-radius: 7px;
    width: 3rem;
    height: 1.5rem;
}

#points{
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}